<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/4-common.css">
        <link rel="stylesheet" href="../static/styles/3-header.css">
        <link rel="stylesheet" href="../static/styles/3-footer.css">
        <link rel="stylesheet" href="../static/styles/6-filters.css">
        <link rel="icon" type="image/png" href="../static/images/icon.png">
        <title>AirBnBClone</title>
    </head>
    <body>
        <header>
        </header>
            <div class="container">
                <section class="filters">
                    <div class="locations">
                        <h3>States</h3>
                        <h4>&nbsp;</h4>
                        <ul class="popover">
                        {% for state in states.values()|sort(attribute="name") %}
                            <LI><B>{{ state.name }}</B>
                            <UL>
                            {% for city in state.cities|sort(attribute="name") %}
                                <LI>{{ city.name }}</LI>
                            {% endfor %}
                            </UL>
                            </LI>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="amenitties">
                        <h3>Amenities</h3>
                        <h4>&nbsp</h4>
                        <ul class="popover">
                        {% for amenity in amenities.values()|sort(attribute="name") %}
                            <LI>{{ amenity.name }}</LI>
                        {% endfor %}
                        </ul>
                    </div>
                    <button>Search</button>
                </section>
            </div>
        <footer>
            <p>Best School</p>
        </footer>
    </body>
</html>
